@font-face{
    font-family: 'Glacial Indefference';
    src : url('fonts/glacial-indifference/GlacialIndifference-Bold.otf')
}

body{
    background-image: url("images/Real.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px

}

nav{
    padding: 0;
    margin: 0;
    font-family: Glacial Indefference;
    color: burlywood;
    text-align: center;
}

nav li{
    display: inline;
    list-style: none;
}

section{
    
    margin: auto;
    text-align: center;

}

.Liste h2{
    
    font-family: Glacial Indefference;
    background-color: aliceblue;
    opacity: 0.5;
    
}
.Liste {
    display: flex;
    flex-direction: column;
    width: auto;
}

li:hover {
    opacity: 0.5;
    background-color: darkgreen;
}