@font-face {
    font-family: 'Satisfy';
    src : url('../fonts/Satisfy-Regular.ttf');
}
@font-face{
    font-family: 'Nunito';
    src: url('../fonts/Nunito-ExtraLightItalic.ttf');
}
@font-face{
    font-family: 'Staalich';
    src : url('../fonts/Staatliches-Regular.ttf')
}
body
{
    background-image: url("../images/thirdone.png");
    background-attachment: fixed;
    background-size: cover;
    
}

header{
    font-size: 3em;
    text-align: center;
    margin-bottom: 150px;
    font-family: Satisfy;
    text-decoration: underline;
    color: #F6D9C4;
}

nav {
    width: auto;
    text-align: center;
    font-family: Staalich;
}
nav a {
    color: white;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    font-size: 2.5em;
    color:burlywood;
    width: 200px;
}

a:hover{ 
    background-color:burlywood;
    color: beige;
    width: 200px;
}




h2{
    font-size: 2em;
    border-top-right-radius: 5em;
    font-family:  Satisfy;
    color: #F5E9BE;

}


#Scroll{
    display: flex;
    justify-content: space-around;
    padding-top: 325px;
}

#Price{
    display: flex;
    justify-content: space-around;
    padding-top: 325px;
}


section{
    width: 350px;
    margin-bottom: 100px;
    border-left: 2px black solid;
    
}

.Pricing section{
    width: 500px;
    margin-bottom: 100px;
    border-left: 2px black solid;
    color: aliceblue;
}

p{
    font-size: 1.75em;
    font-family: Satisfy;
    padding: 5px;
    opacity: 0.5;
    color: azure;
}

p:hover{
    opacity: 1.5;
}

.element:nth-child(1){
    order: 1;

}
.element:nth-child(2){
    order: 2;

}
.element:nth-child(3){
    order: 3;

}
.element:nth-child(4){
    order: 4;

}


.Pricing:nth-child(1){
    order: 1;

}
.Pricing:nth-child(2){
    order: 2;

}
.Pricing:nth-child(3){
    order: 3;

}
